<!DOCTYPE html>
<html>
<head>
<title>Simple Markdown Editor</title>
<!-- bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>
  <body class='container-fluid'>
    <section class='row'>
  	 <div class="col-md-6">Enter Markdown Here...</div>
  	 <div class='col-md-6'>HTML</div>
    </section>
    <section class='row'>
      <div class="col-md-6 full-height">
        <textarea class="full-width" id='paper'></textarea>
      </div>
      <div class="col-md-6 full-height" id="markdown"></div>
    </section>

<!-- JS -->

<script type="text/javascript" src="showdown.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>
</html>
